{# templates/account/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Mon Compte</h1>

        {# Formulaire de modification des informations #}
        {{ form_start(accountForm) }}
            {{ form_row(accountForm.nom) }}
            {{ form_row(accountForm.prenom) }}
            {{ form_row(accountForm.adresse) }}
            {{ form_row(accountForm.avatarFile) }}

            <button type="submit" class="btn btn-primary">Enregistrer</button>
        {{ form_end(accountForm) }}

        {# Affichage de l'avatar #}
        {% if user.avatar %}
            <img src="{{ asset('uploads/avatars/' ~ user.avatar) }}" alt="Avatar" class="img-thumbnail mt-3" width="150">
        {% endif %}

       
    </div>
{% endblock %}
