{% extends 'base.html.twig' %}

{% block title %}Conciergerie76{% endblock %}

{% block body %}
<main>
    <section>
        <header>
            <div class="hero-title-wrapper">
                <h1>EXPLORE <br>
                    TON <br>
                    <span>ENVIRON</span> <br>
                    MENT
                </h1>
                <p>Votre concierge personnel</p>
                <a style="color: white; text-decoration:none" href="#gallery-section">
                    <button type="button" class="btn btn-dark">
                        Explorer
                    </button>
                </a>
            </div>

            <div class="hero-image">
                <img src="{{ asset('img/hero.png') }}" alt="Hero Image">
            </div>
        </header>
    </section>

    <div class="bande-sponsors">
        <div>
            <img src="{{ asset('icons/mcdonalds.png') }}" alt="mcdonalds">
        </div>
        <div>
            <img src="{{ asset('icons/starbucks.png') }}" alt="starbucks">
        </div>
        <div>
            <img src="{{ asset('icons/amazon.png') }}" alt="amazon">
        </div>
    </div>

    <section class="gallery-section" id="gallery-section">
        {# <div class="svg-cont"> #}
            <h2>Rechercher de points <span>d'intérêt</span></h2>
            {# <div class="svg"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 600 600">
                <path
                    d="M379.3412780761719,168.86227416992188C362.87421162923175,179.4910151163737,291.01792907714844,186.97603607177734,293.1137390136719,177.84429931640625C295.2095489501953,168.71256256103516,377.5448811848958,115.56885782877605,391.9161376953125,114.07185363769531C406.2873942057292,112.57484944661458,395.808344523112,158.23353322347006,379.3412780761719,168.86227416992188C362.87421162923175,179.4910151163737,291.01792907714844,186.97603607177734,293.1137390136719,177.84429931640625"
                    fill="hsl(50, 98%, 60%)" fill-opacity="0.64"></path>
            </svg></div> #}
        {# </div> #}
        
        <div class="gallery">
            <div class="card">
                <img src="{{ asset('img/water.jpg') }}" alt="Drinking water">
                <div class="card-text">
                    <h2>Fontaines d'eau</h2>
                    <p>Points d'eau pour remplir votre gourde et vous rafraîchir lors de votre promenade.</p>
                </div>
                <button type="button" class="btn btn-link">Trouver →</button>
            </div>
            <div class="card">
                <img src="{{ asset('img/park.jpg') }}" alt="Parks">
                <div class="card-text">
                    <h2>Parks</h2>
                    <p>Respirez l'air frais et profitez de la nature dans un park. </p>
                </div>
                <button type="button" class="btn btn-link">Se promener →</button>
            </div>
            <div class="card">
                <img src="{{ asset('img/museum.jpg') }}" alt="Museums">
                <div class="card-text">
                    <h2>Musées</h2>
                    <p>Découvrez les trésors cachés des musées et vivez une expérience culturelle enrichissante.</p>
                </div>
                <button type="button" class="btn btn-link">Visiter →</button>
            </div>
        </div>
    </section>


</main>
{% endblock %}