{% extends 'base.html.twig' %}

{% block title %}Conciergerie76{% endblock %}

{% block body %}
<main>
    <section>
        {# Header #}
        <header>
            <div class="hero-title-wrapper">
                <h1>EXPLORE <br>
                    TON <br>
                    <span>ENVIRON</span> <br>
                    MENT
                </h1>
                <p>Votre concierge personnel</p><br> <br>
                <a style="color: white; text-decoration:none" href="#gallery-section">
                    <button type="button" class="btn btn-dark">
                        Explorer
                    </button>
                </a>
            </div>

            <div class="hero-image">
                <img src="{{ asset('img/hero.png') }}" alt="Hero Image">
            </div>
        </header>
    </section>

    {# Sponsors #}
    <div class="bande-sponsors">
        <div>
            <img src="{{ asset('icons/mcdonalds.png') }}" alt="mcdonalds">
        </div>
        <div>
            <img src="{{ asset('icons/starbucks.png') }}" alt="starbucks">
        </div>
        <div>
            <img src="{{ asset('icons/amazon.png') }}" alt="amazon">
        </div>
    </div>

    {# Gallery #}
    <section class="gallery-section" id="gallery-section">
        <h2>Explorer les <span>environs</span></h2>
        <div class="gallery">
            <div class="row">
                {# Fontaines #}
                {# <div class="card">
                    <img src="{{ asset('img/water.jpg') }}" alt="Drinking water">
                    <div class="card-text">
                        <h2>Fontaines d'eau</h2>
                        <p>Points d'eau pour remplir votre gourde et vous rafraîchir lors de votre promenade.</p>
                    </div>
                    <button type="button" class="btn btn-link">Trouver →</button>
                </div> #}

                {# Nourriture #}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ asset('img/food.jpg') }}" alt="Nourriture">
                        <div class="card-text">
                            <h2><a href="{{ path('app_nourriture') }}" style="color:black;">Nourriture à proximité</a>
                            </h2>
                            <p>Trouvez les meilleurs restaurants, cafés, supermarchés et plus.</p>
                        </div>
                        <a href="{{ path('app_nourriture') }}" type="button" class="btn btn-link">Trouver →</a>
                    </div>
                </div>

                {# Loisirs #}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ asset('img/cinema.jpg') }}" alt="Loisirs">
                        <div class="card-text">
                            <h2><a href="{{ path('app_loisirs') }}" style="color:black;">Loisirs</a></h2>
                            <p>Cinémas, théâtres, bibliothèques et plus pour vos moments de détente.</p>
                        </div>
                        <a href="{{ path('app_loisirs') }}" type="button" class="btn btn-link">Explorer →</a>
                    </div>
                </div>

                {# Hair-salon/ services #}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ asset('img/hair-salon.jpg') }}" alt="Services">
                        <div class="card-text">
                            <h2><a href="{{ path('app_services_group') }}" style="color:black;">Services divers</a></h2>
                            <p>Banques, écoles, salons de coiffure et autres services utiles.</p>
                        </div>
                        <a href="{{ path('app_services_group') }}" type="button" class="btn btn-link">Explorer →</a>
                    </div>
                </div>


                {# Parcs #}
                {# <div class="col-md-4">
                    <div class="card">
                        <img src="{{ asset('img/park.jpg') }}" alt="Parks">
                        <div class="card-text">
                            <h2><a href={{path("app_park")}} style="color:black;">Parcs et promenades</a></h2>
                            <p>Respirez l'air frais et profitez de la nature.</p>
                        </div>
                        <a href={{path("app_park")}} type="button" class="btn btn-link">Se promener →</a>
                    </div>
                </div> #}

                {# Musées #}
                {# <div class="col-md-4">
                    <div class="card">
                        <img src="{{ asset('img/museum.jpg') }}" alt="Museums">
                        <div class="card-text">
                            <h2><a href={{path("app_museum")}} style="color:black;">Musées</a></h2>
                            <p>Découvrez les trésors cachés des musées.</p>
                        </div>
                        <a href={{path("app_museum")}} type="button" class="btn btn-link">Visiter →</a>
                    </div>
                </div>
            </div> #}

            <!-- Bouton "Voir plus" -->
        </div>
        <div class="btn-voir-plus">
            <a type="button" class="btn btn-outline-dark" href={{path("app_services")}}>Voir plus</a>
        </div>
    </section>
</main>
{% endblock %}