{% extends 'base.html.twig' %}

{% block title %}Conciergerie76{% endblock %}

{% block body %}
<main>
    <section>
        {# Header #}
        <header>
            <div class="hero-title-wrapper">
                <h1>EXPLORE <br>
                    TON <br>
                    <span>ENVIRONNEMENT</span>
                    
                </h1>
                <p>Votre concierge personnel</p><br> <br>
                <a style="color: white; text-decoration:none" href="#gallery-section">
                    <button type="button" class="btn btn-dark">
                        Explorer
                    </button>
                </a>
            </div>

            <div class="hero-image">
                <img src="{{ asset('img/hero.png') }}" alt="Hero Image">
            </div>
        </header>
    </section>

    {# Sponsors #}
    <div class="bande-sponsors">
        <div>
            <img src="{{ asset('icons/disneyland.png') }}" alt="disneyland">
        </div>
        <div>
            <img src="{{ asset('icons/starbucks.png') }}" alt="starbucks">
        </div>
        <div>
            <img src="{{ asset('icons/amazon.png') }}" alt="amazon">
        </div>
        <div>
            <img src="{{ asset('icons/ubereats.png') }}" alt="ubereats">
        </div>
        <div>
            <img src="{{ asset('icons/shopify.png') }}" alt="sphopify">
        </div>
    </div>

    {# Gallery #}
    <section class="gallery-section" id="gallery-section">
        <h2>Explorer les <span class="span">environs</span></h2>
        <div class="gallery">
            <div class="row">
                {# app_cafe #}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ asset('img/cafe.jpg') }}" alt="Café">
                        <div class="card-text">
                            <h2><a href="{{ path('app_cafe') }}" style="color:black;">☕ Cafés</a></h2>
                            {# <p>Découvrez les cinémas et horaires des séances.</p> #}
                        </div>
                        <a href="{{ path('app_cafe') }}" type="button" class="btn btn-link">Explorer →</a>
                    </div>
                </div>

                {# app_cinema #}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ asset('img/cinema.jpg') }}" alt="Cinéma">
                        <div class="card-text">
                            <h2><a href="{{ path('app_cinema') }}" style="color:black;">🎥 Cinémas</a></h2>
                            {# <p>Découvrez les cinémas et horaires des séances.</p> #}
                        </div>
                        <a href="{{ path('app_cinema') }}" type="button" class="btn btn-link">Explorer →</a>
                    </div>
                </div>

                {# app_supermarche #}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ asset('img/supermarche.jpg') }}" alt="Supermarché">
                        <div class="card-text">
                            <h2><a href="{{ path('app_supermarche') }}" style="color:black;">🛒 Supermarchés</a></h2>
                            {# <p>Faites vos courses dans les supermarchés proches.</p> #}
                        </div>
                        <a href="{{ path('app_supermarche') }}" type="button" class="btn btn-link">Trouver →</a>
                    </div>
                </div>

            </div>

            <!-- Bouton "Voir plus" -->
        </div>
        <div class="btn-voir-plus">
            <a type="button" class="btn btn-outline-dark" href={{path("app_services")}}>Voir plus</a>
        </div>
    </section>
</main>
{% endblock %}