{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
<main>
    {# Gallery #}
    <section class="gallery-section">
        <h2 style="text-align: center;">Rechercher de points <span>d'intérêt</span></h2>
        <div class="gallery">
            <div class="row">
                {# Cafe #}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ asset('img/cafe.jpg') }}" alt="Cafe">
                        <div class="card-text">
                            <h2><a href={{path("app_cafe")}} style="color:black;">Cafés à proximité</a></h2>
                            <p>Trouvez les meilleurs cafés autour de vous en un clin d'œil.</p>
                        </div>
                        <a href={{path("app_park")}} type="button" class="btn btn-link">Trouver →</a>
                    </div>
                </div>

                {# Parcs #}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ asset('img/park.jpg') }}" alt="Parks">
                        <div class="card-text">
                            <h2><a href={{path("app_park")}} style="color:black;">Parcs et promenades</a></h2>
                            <p>Respirez l'air frais et profitez de la nature.</p>
                        </div>
                        <a href={{path("app_park")}} type="button" class="btn btn-link">Se promener →</a>
                    </div>
                </div>

                {# Musées #}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ asset('img/museum.jpg') }}" alt="Museums">
                        <div class="card-text">
                            <h2><a href={{path("app_museum")}} style="color:black;">Musées</a></h2>
                            <p>Découvrez les trésors cachés des musées.</p>
                        </div>
                        <a href={{path("app_museum")}} type="button" class="btn btn-link">Visiter →</a>
                        {# <button type="button" class="btn btn-link">Visiter →</button> #}
                    </div>
                </div>
            </div>
    </section>
</main>
{% endblock %}