{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
{# -------------------- page '/services' -------------------- #}
<main>
    {# gallery-section #}
    <section class="gallery-section">
        <h2 style="text-align: center;">Tous les services dont vous avez besoin, <span class="span">à portée de main</span></h2>
        <p class="sous-titre">Découvrez les commerces, restaurants, professionnels de santé et autres services
            essentiels à proximité,
            grâce à notre carte interactive.</p>

        {# Gallery #}
        <div class="gallery">

            <div class="row">

                {# Nourriture #}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ asset('img/food.jpg') }}" alt="Nourriture">
                        <div class="card-text">
                            <h2><a href="{{ path('app_nourriture') }}" style="color:black;">Nourriture à proximité</a>
                            </h2>
                            <p>Trouvez les meilleurs restaurants, cafés, supermarchés et plus.</p>
                        </div>
                        <a href="{{ path('app_nourriture') }}" type="button" class="btn btn-link">Trouver →</a>
                    </div>
                </div>

                {# Santé #}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ asset('img/health.jpg') }}" alt="Santé">
                        <div class="card-text">
                            <h2><a href="{{ path('app_sante') }}" style="color:black;">Services de Santé</a></h2>
                            <p>Trouvez des pharmacies, hôpitaux et plus près de chez vous.</p>
                        </div>
                        <a href="{{ path('app_sante') }}" type="button" class="btn btn-link">Trouver →</a>
                    </div>
                </div>

                {# Transport #}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ asset('img/station-gaz.jpg') }}" alt="Transport">
                        <div class="card-text">
                            <h2><a href="{{ path('app_transport') }}" style="color:black;">Transport à proximité</a>
                            </h2>
                            <p>Stations de carburant, parkings et locations de vélos.</p>
                        </div>
                        <a href="{{ path('app_transport') }}" type="button" class="btn btn-link">Trouver →</a>
                    </div>
                </div>
            </div>

            <div class="row">
                {# Loisirs #}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ asset('img/cinema.jpg') }}" alt="Loisirs">
                        <div class="card-text">
                            <h2><a href="{{ path('app_loisirs') }}" style="color:black;">Loisirs</a></h2>
                            <p>Cinémas, théâtres, bibliothèques et plus pour vos moments de détente.</p>
                        </div>
                        <a href="{{ path('app_loisirs') }}" type="button" class="btn btn-link">Explorer →</a>
                    </div>
                </div>

                {# Hair-salon/ services #}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ asset('img/hair-salon.jpg') }}" alt="Services">
                        <div class="card-text">
                            <h2><a href="{{ path('app_services_group') }}" style="color:black;">Services divers</a></h2>
                            <p>Banques, écoles, salons de coiffure et autres services utiles.</p>
                        </div>
                        <a href="{{ path('app_services_group') }}" type="button" class="btn btn-link">Explorer →</a>
                    </div>
                </div>

                {# Hébergement #}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ asset('img/hotel.jpg') }}" alt="Hébergement">
                        <div class="card-text">
                            <h2><a href="{{ path('app_hebergement') }}" style="color:black;">Hébergement</a></h2>
                            <p>Trouvez des hôtels, auberges et plus près de vous.</p>
                        </div>
                        <a href="{{ path('app_hebergement') }}" type="button" class="btn btn-link">Trouver →</a>
                    </div>
                </div>
            </div>

            <div class="row">
                {# Toilettes publiques #}
                {# <div class="col-md-4">
                    <div class="card">
                        <img src="{{ asset('img/toilettes.jpg') }}" alt="Toilettes publiques">
                        <div class="card-text">
                            <h2><a href="{{ path('app_toilettes') }}" style="color:black;">Toilettes publiques</a></h2>
                            <p>Recherchez des toilettes publiques disponibles près de vous.</p>
                        </div>
                        <a href="{{ path('app_toilettes') }}" type="button" class="btn btn-link">Trouver →</a>
                    </div>
                </div> #}
            </div>
            
        </div>
    </section>
</main>
{% endblock %}