{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
    <h1>List of Services</h1>
    
    {# <form action="{{ path('app_services_search') }}" method="get">
        <input type="text" name="q" value="{{ query ?? '' }}" placeholder="Search services...">
        <button type="submit">Search</button>
    </form>
     #}
    {% if services is empty %}
        <p>No services found.</p>
    {% else %}
        <table  class="table table-hover">
            <thead>
                <tr>
                    {# <th>ID</th> #}
                    <th scope="col">Name</th>
                    {# <th>Type</th> #}
                    {# <th>Latitude</th> #}
                    {# <th>Longitude</th> #}
                    <th scope="col">URL</th>
                </tr>
            </thead>
            <tbody>
                {% for service in services %}
                    <tr class="table-active">
                        {# <td>{{ service.id }}</td> #}
                        <td scope="row">{{ service.name }}</td>
                        {# <td>{{ service.type }}</td> #}
                        {# <td>{{ service.latitude }}</td> #}
                        {# <td>{{ service.longitude }}</td> #}
                        <td>
                            {% if service.url %}
                                <a href="{{ service.url }}" target="_blank">Link</a>
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
